@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
.main-container {
    max-width: 20rem;
    border-radius: 1.2rem;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 1rem;
    border-radius: 1.2rem;
}
.main-container img {
    display: block;
    max-width: 100%;
    border-radius: .8rem;
}
.main-container h3 {
    font-weight: 700;
    margin-top: 1.3rem;
}
.main-container p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding-bottom: 1.2rem;
    margin-top: 1rem;
}

